h1 {
    
    color:rgb(255, 215, 241);
    font-family:Georgia, 'Times New Roman', Times, serif;
    }
    body {
        background-color:rgb(255, 249, 215);
        }
 h2 {
     
     color:rgb(255, 215, 241);
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
h4 {
    
    color:rgb(255, 215, 221);
      font-family:Georgia, 'Times New Roman', Times, serif;
}

        /* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur824.cur), auto !important;} /* End https://www.cursors-4u.com */
